openapi: 3.1.0
info:
  title: Candlefish NANDA API
  version: '1.0.0'
  description: |
    Candlefish NANDA API for Agent Management and Integration

servers:
  - url: https://api.candlefish.ai/v1
    description: Production API Server

components:
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JSON Web Token authentication via JWKS endpoint

  schemas:
    Agent:
      type: object
      properties:
        agent_id:
          type: string
          description: Unique identifier for the agent
        name:
          type: string
          description: Name of the agent
        platform:
          type: string
          description: Platform where the agent operates
        capabilities:
          type: array
          items:
            type: string
          description: List of agent capabilities
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          description: Additional agent metadata

paths:
  /api/agents:
    get:
      summary: List Agents
      description: Retrieve a paginated list of agents
      security:
        - JWT: []
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successful agent retrieval
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Agent'
                  meta:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      limit:
                        type: integer

    post:
      summary: Register Agent
      description: Create a new agent in the system
      security:
        - JWT: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Agent'
      responses:
        '201':
          description: Agent successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Agent'

  /admin/seed:
    post:
      summary: Seed Database
      description: Administrative endpoint to seed sample data
      security:
        - JWT: []
      responses:
        '200':
          description: Database successfully seeded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  agents_created:
                    type: integer

x-rate-limits:
  window: 1 minute
  requests:
    GET /api/agents: 100
    POST /api/agents: 50
    POST /admin/seed: 10

x-error-codes:
  UNAUTHORIZED:
    code: 401
    message: Invalid or expired JWT token
  RATE_LIMITED:
    code: 429
    message: Too many requests, please slow down
  VALIDATION_ERROR:
    code: 400
    message: Invalid request parameters
